@color1: #317c9c;
@color2: #1b3d4b;
@color3: #9bcbdf;

@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: normal;
    src: url('monda-regular-webfont.woff') format('woff');
}

* {
    box-sizing: border-box;
}

.slide {
    border-bottom: 2em solid @color1;
    border-top: 2em solid @color3;
    font-family: Monda;
    margin-bottom: -2.1em;
}

.deck-status,
.slide::after {
    bottom: 0;
    font-size: 120%;
    position: fixed;
}

.deck-status {
    right: 1em;
    z-index: 9;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.slide.title::after {
    content: "";
}

.slide::after {
    content: "Phing All The Things - Omni Adams";
    left: 1em;
}

.title h1 {
    color: @color2;
    font-variant: small-caps;
}

.about-me h1 {
    color: @color2;
}
