@color1: #317c9c;
@color2: #1b3d4b;
@color3: #9bcbdf;

@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/monda-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: Ranchers;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Ranchers-Regular.ttf');
}

@font-face {
    font-family: 'Wet';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/wet1_becker.ttf');
}

@font-face {
    font-family: 'Griffy';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Griffy-Regular.ttf');
}

@font-face {
    font-family: EnvyCodeR;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Envy Code R.ttf');
}

* {
    box-sizing: border-box;
    font-family: Monda;
    font-size: 120%;
}

.slide.smaller pre {
    font-size: 110%;
}

.slide.even-smaller pre {
    font-size: 95%;
}

.slide pre {
    border: 0;
    margin-top: 0;
    padding-top: 0;
}

.slide pre.no-bottom {
    margin-bottom: 0;
    padding-bottom: 5px;
}

.slide ul,
.slide li {
    padding: 0;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
}

.pull-left {
    display: inline-block;
    float: left;
}

.pull-right {
    float: right;
}

.note {
    display: none;
}

.highlight {
    background-color: #F2F5A9;
    font-size: 100%;
}

.slide pre.cli {
    background-color: #000000;
    bottom: 0;
    color: #ffffff;
    font-family: EnvyCodeR;
    font-size: 100%;
    left: 0;
    margin: 0 inherit;
    padding: 0 2.5em;
    position: absolute;
    right: 0;
    top: 0;
}

section.slide pre.cli * {
    font-family: EnvyCodeR;
    font-size: 100%;
}

pre.cli .notice {
    color: #89d3cc;
}

pre.cli .invert-pass {
    background-color: #63d27a;
    color: #000000;
    display: inline-block;
    width: 100%;
}

pre.cli .pass {
    color: #63d27a;
}

pre.cli .fail {
    color: #d46968;
}

pre.cli .invert-fail {
    background-color: #d46968;
    color: #000000;
}

.slide {
    border-bottom: 2em solid @color1;
    border-top: 2em solid @color3;
    margin-bottom: -2.1em;
}

.deck-status,
.slide::after {
    bottom: 0;
    font-size: 120%;
    position: fixed;
}

.deck-status {
    right: 1em;
    z-index: 9;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.slide.title::after {
    content: "";
}

.slide::after {
    content: "Phing All The Things - Omni Adams";
    left: 1em;
}

.title h1 {
    color: @color2;
    font-variant: small-caps;
}

.about-me div {
    margin-left: -15em;
    margin-top: -155px;
    width: 30em;
}

.about-me ul {
    list-style: none;
    margin-top: -.25em;
}

.lazy-development img {
    height: 18em;
    margin-left: -796px / 2;
    margin-top: -9em;
}

.dry-0 h1 span {
    color: @color1;
    font-family: Wet;
    font-size: 200%;
    letter-spacing: 4px;
    margin-top: 0;
}

.dry-1 img {
    margin-left: -300px;
    margin-top: -240px;
}

.slide.lolwut-phpunit img {
    margin-left: -533px / 2;
    margin-top: -594px / 2;
}

.slide.phpunit-vs-exec ul {
    height: 7em;
    left: 50%;
    margin-left: -6em;
    margin-top: -3.5em;
    position: absolute;
    top: 50%;
    width: 12em;
}

.slide.properties img {
    margin-left: -342px / 2;
    margin-top: -240px / 2;
}

.slide.first-things-first div {
    font-family: Ranchers;
    font-size: 400%;
    .centered;
}

.slide.first-things-first #first {
    color: @color1;
    margin-left: -180px;
    margin-top: -110px;
    -webkit-transform: rotate(-45deg);
}

.slide.first-things-first #things {
    color: @color2;
    margin-left: -100px;
    margin-top: -50px;
}

.slide.first-things-first #second {
    color: @color3;
    margin-left: 40px;
    -webkit-transform: rotate(-45deg);
}

.slide.filesets img {
    margin-left: -800px / 2;
    margin-top: -603px / 2;
    width: 800px;
}

.slide.patternset pre {
    margin-bottom: 0;
}

.slide.apidoc img {
    height: 500px;
    margin-left: -750px / 2;
    margin-top: -500px / 2;
}

.slide.arg-value pre {
    font-size: 88%;
}

.slide.cross-streams img {
    margin-left: -500px * 0.6;
    margin-top: -480px * 0.6;
    width: 500px * 1.2;
}

.slide.dependencies-0 img {
    margin-left: -400px / 2;
    margin-top: -506px / 2;
    width: 400px;
}

.slide.dependencies-1 img {
    margin-left: -800px / 2;
    margin-top: -448px / 2;
    width: 800px;
}

.slide.lazy img {
    margin-left: -800px / 2;
    margin-top: -600px / 2;
}

.slide.composer img {
    margin-left: -300px / 2;
    margin-top: -356px / 2;
}

.slide.deployment img {
    margin-left: -800px / 2;
    margin-top: -560px / 2;
    width: 800px;
}

.slide.deployment .cover {
    background-color: #ffbd4c;
    height: 70px;
    margin-left: -800px / 2 + 35px;
    margin-top: 560px / 2 - 100px;
    width: 252px;
}

.slide.assumptions div {
    color: @color1;
    font-family: Ranchers;
    font-size: 500%;
    font-variant: small-caps;
    margin-left: -739px / 2;
    margin-top: -236px / 2;
}

.slide.assumptions .ass {
    color: @color2;
    display: inline-block;
    font-family: Ranchers;
    left: -10px;
    position: relative;
    top: 44px;
    -webkit-transform: rotate(-22deg);
}

div.link {
    background-image: url(images/link.png);
    bottom: 0;
    height: 600px;
    margin-left: -450px;
    left: 50%;
    position: absolute;
    width: 1000px;
}

.slide.security img {
    margin-left: -750px / 2;
    margin-top: -600px / 2;
}

.slide.tags img {
    margin-left: -640px / 2;
    margin-top: -426px / 2;
}

.slide.version pre {
    font-size: 100%;
}

.slide.prepare img {
    margin-left: -600px / 2;
    margin-top: -600px / 2;
    width: 600px;
}

.slide.sanity-check div {
    font-family: Griffy;
    font-size: 600%;
}

.slide.sanity-check .sanity {
    color: @color2;
    margin-left: -200px;
    margin-top: -100px;
    -webkit-transform: rotate(90deg);
}

.slide.sanity-check .check {
    color: @color3;
    margin-left: -75px;
    margin-top: -90px;
    -webkit-transform: rotate(-90deg);
}

.slide.sanity-check-fail img {
    margin-left: -700px / 2;
    margin-top: -394px / 2;
}

.slide.backpedal img {
    margin-left: -400px / 2;
    margin-top: -400px / 2;
    width: 400px;
    z-index: 9;
}
